In [70]:
import numpy as np

In [71]:
my_array = np.array([(1, 4, 2,), (3, 9, 23,), (99, 4, 3,)])

In [72]:
my_array

array([[ 1,  4,  2],
       [ 3,  9, 23],
       [99,  4,  3]])

## Challenge 1

In [73]:
for element in my_array[: 1]:
    print('This is row 1:', (element))
for element in my_array[1: 2]:
    print('This is row 2:', (element))
for element in my_array[2: ]:
    print('This is row 3:', (element))

This is row 1: [1 4 2]
This is row 2: [ 3  9 23]
This is row 3: [99  4  3]

## Challenge 2

In [74]:
for element in my_array[: 1]:
    print('The sum of', element, 'is', sum(element))
for element in my_array[1: 2]:
    print('The sum of', element, 'is', sum(element))
for element in my_array[2: ]:
    print('The sum of', element, 'is', sum(element))

The sum of [1 4 2] is 7
The sum of [ 3  9 23] is 35
The sum of [99  4  3] is 106

## Challenge 3

In [75]:
for element in my_array.T[: 1]:
    print('The sum of', element, 'is', sum(element))
for element in my_array.T[1:2]:
    print('The sum of', element, 'is', sum(element))
for element in my_array.T[2: ]:
    print('The sum of', element, 'is', sum(element))

The sum of [ 1  3 99] is 103
The sum of [4 9 4] is 17
The sum of [ 2 23  3] is 28

## Further challenge

In [114]:
def print_rows(x):
    i = 1
    for row in x:
        print("This is row", i, row)
        i += 1

In [115]:
print_rows(my_array)

This is row 1 [1 4 2]
This is row 2 [ 3  9 23]
This is row 3 [99  4  3]

In [111]:
i = 1
for row in my_array:
    print("This is row", i, row)
    i += 1

This is row 1 [1 4 2]
This is row 2 [ 3  9 23]
This is row 3 [99  4  3]

In [119]:
def print_rows_all(x):
    index = 0
    while index < len(x):
        print(x[index])
        index += 1

In [120]:
print_rows_all(my_array)

[1 4 2]
[ 3  9 23]
[99  4  3]