# Data Types

This is my first jupyter notebook in which we are looking at data types in Python.

In [1]:
my_name = "Harvey"

In [2]:
print(type(my_name))

<class 'str'>

In [3]:
my_favourite_number_test = "My favourite number is:"
my_favourite_number = 42

In [4]:
print(type(my_favourite_number))

<class 'int'>

In [5]:
my_favourite_number_test

'My favourite number is:'

In [6]:
print(my_favourite_number_test, my_favourite_number)

My favourite number is: 42

In [7]:
my_favourite_number_text = "is my favourite number."
my_favourite_number = 25

In [8]:
print(my_favourite_number, my_favourite_number_text)

25 is my favourite number.

In [9]:
my_numbers = [10, 20, 30, 40]

In [10]:
type(my_numbers)

list

In [11]:
my_names = ["Harvey", "Max", "Schneider", "Don"]

In [12]:
type(my_names)

list

In [13]:
my_numbers

[10, 20, 30, 40]

In [14]:
my_numbers[1]

20

In [15]:
my_numbers[0]

10

In [16]:
my_names

['Harvey', 'Max', 'Schneider', 'Don']

In [17]:
my_names[3]

'Don'

In [18]:
my_names[0] = "Ruben"

In [19]:
my_names

['Ruben', 'Max', 'Schneider', 'Don']

In [20]:
my_names[1:3]

['Max', 'Schneider']

In [21]:
my_tuple = (10, 20, 30, 40)

In [22]:
type(my_tuple)

tuple

In [23]:
my_tuple[3]

40

In [24]:
my_tuple[:3]

(10, 20, 30)

In [25]:
my_tuple[1:]

(20, 30, 40)

In [26]:
my_tuple[1:3]

(20, 30)

In [27]:
my_tuple[:3]

(10, 20, 30)

In [28]:
my_sliced_tuple = my_tuple[:3]

In [29]:
my_sliced_tuple

(10, 20, 30)

In [30]:
my_sliced_tuple == my_tuple

False

In [31]:
my_sliced_tuple == my_tuple[:3]

True

In [32]:
my_tuple[1:3]

(20, 30)

In [33]:
import numpy as np

In [34]:
np.random.seed(42)
my_array = np.random.randint(low = 0, high = 10, size = (3, 4))

In [35]:
my_array

array([[6, 3, 7, 4],
       [6, 9, 2, 6],
       [7, 4, 3, 7]])

In [36]:
type(my_array)

numpy.ndarray

In [37]:
my_array.shape

(3, 4)

In [38]:
my_old_names = ["Harvey", "Max", "Schneider", "Don"]

In [39]:
my_new_names = my_old_names

In [40]:
my_old_names[0]

'Harvey'

In [41]:
my_old_names[0] = "This is surprising"

In [42]:
my_old_names

['This is surprising', 'Max', 'Schneider', 'Don']

In [77]:
def bmi(weight, height):
    bmi_value = weight/(height**2)
    return bmi_value

In [78]:
bmi(87, 1.8)

26.85185185185185

In [45]:
m1 = 10
m2 = 3
psd = 5

In [46]:
def cohd(mean1, mean2, pooled_sd):
    effect_size = (mean1 - mean2)/pooled_sd
    return effect_size

In [47]:
cohd(1020, 1000, 50)

0.4

In [48]:
for index in range(0, 5):
    print("Hello World!")

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [49]:
my_names = ["Harvey", "Max", "Schneider", "Don"]

In [50]:
for element in my_names:
    print(element)

Harvey
Max
Schneider
Don

# For Loops and Arrays

In [51]:
weights = np.array([70, 60, 90])
heights = np.array([1.67, 1.77, 1.78])
names = np.array(['Iggy', 'David', 'Lou'])

In [52]:
vital_stats = np.array([weights, heights, names])

In [53]:
vital_stats

array([['70', '60', '90'],
       ['1.67', '1.77', '1.78'],
       ['Iggy', 'David', 'Lou']], dtype='<U32')

In [74]:
for i in vital_stats:
    print(i)

['70' '60' '90']
['1.67' '1.77' '1.78']
['Iggy' 'David' 'Lou']

In [79]:
for i in vital_stats.T:
    print(i)

['70' '1.67' 'Iggy']
['60' '1.77' 'David']
['90' '1.78' 'Lou']

In [86]:
for person in vital_stats.T:
    weight = float(person[0])
    height = float(person[1])
    print(person[2], "has a BMI value of", round(bmi(weight, height),2))

Iggy has a BMI value of 25.1
David has a BMI value of 19.15
Lou has a BMI value of 28.41

# Challenge

In [ ]:
def cohd(mean1, mean2, pooled_sd):
    effect_size = (mean1 - mean2)/pooled_sd
    return effect_size

In [99]:
exper1 = np.array([500, 485, 10, 1])
exper2 = np.array([500, 490, 10, 2])
exper3 = np.array([500, 495, 10, 3])

experiments = np.array([exper1, exper2, exper3])

for i in experiments:
    mean1 = float(i[0])
    mean2 = float(i[1])
    pooled_sd = float(i[2])
    experiment = (i[3])
    print("The Cohen's d value for experiment", experiment, "is", cohd(mean1, mean2, pooled_sd))

The Cohen's d value for experiment 1 is 1.5
The Cohen's d value for experiment 2 is 1.0
The Cohen's d value for experiment 3 is 0.5

* Equals: a == b 
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b

In [64]:
a = np.array([1, 2, 3])
b = np.array([3, 2, 1])

In [65]:
a <= b

array([ True,  True, False])

In [66]:
a+b

array([4, 4, 4])

# While Loops

In [67]:
my_names

['Harvey', 'Max', 'Schneider', 'Don']

In [68]:
counter = 0 #Set our counter to zero

while counter != 2:
    print(my_names[counter])
    counter += 1 #We set the value of our counter to increase by 1 each time

Harvey
Max

# Conditional Statements

In [69]:
my_first_number = 6
my_second_number = 6

In [70]:
if my_first_number < my_second_number:
    print(my_first_number, "is less than", my_second_number)
elif my_first_number > my_second_number:
    print(my_first_number, "is greater than", my_second_number)
else:
    print(my_first_number, "is equal to", my_second_number)

6 is equal to 6

In [71]:
total = 0
for i in range(1,100):
    if i % 3 == 0 and i % 5 ==0:
        total += i
print(total)

315