# Data Types

This is my first jupyter notebook in which we are looking at data types in Python.

In [ ]:
my_name = "Harvey"

In [5]:
print(type(my_name))

<class 'str'>

In [7]:
my_favourite_number_test = "My favourite number is:"
my_favourite_number = 42

In [9]:
print(type(my_favourite_number))

<class 'int'>

In [10]:
my_favourite_number_test

'My favourite number is:'

In [11]:
print(my_favourite_number_test, my_favourite_number)

My favourite number is: 42

In [12]:
my_favourite_number_text = "is my favourite number."
my_favourite_number = 25

In [13]:
print(my_favourite_number, my_favourite_number_text)

25 is my favourite number.

In [15]:
my_numbers = [10, 20, 30, 40]

In [17]:
type(my_numbers)

list

In [18]:
my_names = ["Harvey", "Max", "Schneider", "Don"]

In [19]:
type(my_names)

list

In [23]:
my_numbers

[10, 20, 30, 40]

In [26]:
my_numbers[1]

20

In [27]:
my_numbers[0]

10

In [28]:
my_names

['Harvey', 'Max', 'Schneider', 'Don']

In [29]:
my_names[3]

'Don'

In [30]:
my_names[0] = "Ruben"

In [32]:
my_names

['Ruben', 'Max', 'Schneider', 'Don']

In [39]:
my_names[1:3]

['Max', 'Schneider']

In [40]:
my_tuple = (10, 20, 30, 40)

In [41]:
type(my_tuple)

tuple

In [44]:
my_tuple[3]

40

In [46]:
my_tuple[3] = 5

TypeError: 'tuple' object does not support item assignment

In [48]:
my_tuple[:3]

(10, 20, 30)

In [50]:
my_tuple[1:]

(20, 30, 40)

In [51]:
my_tuple[1:3]

(20, 30)

In [53]:
my_tuple[:3]

(10, 20, 30)

In [54]:
my_sliced_tuple = my_tuple[:3]

In [55]:
my_sliced_tuple

(10, 20, 30)

In [56]:
my_sliced_tuple == my_tuple

False

In [57]:
my_sliced_tuple == my_tuple[:3]

True

In [59]:
my_tuple[1:3]

(20, 30)

In [9]:
import numpy as np

In [82]:
np.random.seed(42)
my_array = np.random.randint(low = 0, high = 10, size = (3, 4))

In [81]:
my_array

array([[6, 3, 7, 4, 6],
       [9, 2, 6, 7, 4],
       [3, 7, 7, 2, 5]])

In [78]:
type(my_array)

numpy.ndarray

In [79]:
my_array.shape

(3, 4)

In [85]:
my_old_names = ["Harvey", "Max", "Schneider", "Don"]

In [86]:
my_new_names = my_old_names

In [89]:
my_old_names[0]

'Harvey'

In [91]:
my_old_names[0] = "This is surprising"

In [93]:
my_old_names

['This is surprising', 'Max', 'Schneider', 'Don']

In [17]:
def bmi(weight, height):
    bmi_value = weight/(height*height)
    return bmi_value

In [18]:
bmi(87, 1.8)

26.85185185185185

In [38]:
m1 = 10
m2 = 3
psd = 5

In [39]:
cohd(m1, m2, 5)

1.4

In [25]:
def cohd(mean1, mean2, pooled_sd):
    effect_size = (mean1 - mean2)/pooled_sd
    return effect_size

In [26]:
cohd(1020, 1000, 50)

0.4

In [5]:
for index in range(0, 5):
    print("Hello World!")

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [6]:
my_names = ["Harvey", "Max", "Schneider", "Don"]

In [7]:
for element in my_names:
    print(element)

Harvey
Max
Schneider
Don

In [11]:
weights = np.array([70, 60, 90])
heights = np.array([1.67, 1.77, 1.78])
names = np.array(['Iggy', 'David', 'Lou'])

In [12]:
vital_stats = np.array([weights, heights, names])

In [13]:
vital_stats

array([['70', '60', '90'],
       ['1.67', '1.77', '1.78'],
       ['Iggy', 'David', 'Lou']], dtype='<U32')

In [14]:
for row in vital_stats:
    print(row)

['70' '60' '90']
['1.67' '1.77' '1.78']
['Iggy' 'David' 'Lou']

In [15]:
vital_stats.T

array([['70', '1.67', 'Iggy'],
       ['60', '1.77', 'David'],
       ['90', '1.78', 'Lou']], dtype='<U32')

In [16]:
for row in vital_stats.T:
    print(row)

['70' '1.67' 'Iggy']
['60' '1.77' 'David']
['90' '1.78' 'Lou']

In [20]:
for person in vital_stats.T:
    weight = float(person[0])
    height = float(person[1])
    print(person[2], 'has a BMI of', round(bmi(weight, height)))

Iggy has a BMI of 25
David has a BMI of 19
Lou has a BMI of 28

In [43]:
experi1 = np.array([500, 500, 500])
experi2 = np.array([485, 490, 495])
groups = np.array(['Group 1', 'Group 2', 'Group 3'])

In [44]:
experiments = np.array([experi1, experi2, groups])

In [45]:
experiments

array([['500', '500', '500'],
       ['485', '490', '495'],
       ['Group 1', 'Group 2', 'Group 3']], dtype='<U11')

In [46]:
for row in experiments:
    print(row)

['500' '500' '500']
['485' '490' '495']
['Group 1' 'Group 2' 'Group 3']

In [47]:
experiments.T

array([['500', '485', 'Group 1'],
       ['500', '490', 'Group 2'],
       ['500', '495', 'Group 3']], dtype='<U11')

In [48]:
for mean in experiments.T:
    experi1 = float(mean[0])
    experi2 = float(mean[1])
    print(mean[2], 'has a Cohens d value of', cohd(experi1, experi2, 10))

Group 1 has a Cohens d value of 1.5
Group 2 has a Cohens d value of 1.0
Group 3 has a Cohens d value of 0.5

* Equals: a == b 
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b

In [49]:
my_names

['Harvey', 'Max', 'Schneider', 'Don']

In [50]:
i = 0

while i != 2:
    print(my_names[i])
    i += 1

Harvey
Max

In [56]:
my_first_number = 6
my_second_number = 6

In [62]:
if my_first_number < my_second_number:
    print(my_first_number, 'is less than', my_second_number)
elif my_first_number > my_second_number:
    print(my_first_number, 'is greater than', my_second_number)
else:
    print(my_first_number, 'is equal to', my_second_number)

6 is equal to 6